@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
*{
    padding: 0;
    margin: 0;
}
/* body{
    padding: 0;
    margin: 0;
    border: none;
    background-image: url("/..images/piddice-photo-.jpeg");
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    font-family: 'Marvel',serif;
}
  
  .jumbotron {
    color: black;
    background-color: ivory
  }
   */
  img {
    margin-top: 10px;
    float: right;
  }
  
  #gameDisplayPlayer1 {
    background-color: lightblue;
    border: 2px solid green;
  }
  
  #gameDisplayPlayer2 {
    background-color: ivory;
    border: 2px solid pink;
  }
  
  h1 {
    color: #e40;
  /* font-style: italic; */
  }
  h2{
    color: dodgerblue;
    font-weight: 400;
  }
  h3{
    font-weight: 400;
  }
  hr{
    width: 70%;
    border-bottom: 3px solid #999;
    margin: 0 auto;
  }
  #playerNameOne::after{
    content:"'s";
  }
  #playerNameTwo::after{
    content:"'s";
  }
  .btn-primary{
    background-color: #fff;
    color:dodgerblue;
  }
  .btn-success{
    background-color: #fff;
    color: green;
  }