@import url('https://fonts.googleapis.com/css?family=Marvel:400,400i,700,700i');
*{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    border: none;
    background-image: url("/..images/piddice-photo-.jpeg");
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    font-family: 'Marvel',serif;
}
  
  .jumbotron {
    color: black;
    background-color: ivory;
    border: 3px solid purple;
  }
  
  img {
    margin-top: 10px;
    float: right;
  }
  
  #gameDisplayPlayer1 {
    background-color: lightblue;
    border: 2px solid green;
  }
  
  #gameDisplayPlayer2 {
    background-color: ivory;
    border: 2px solid pink;
  }
  
  h1 {
    color: red;
  font-style: italic;
  }